opencv-python>=4.6.0
ffmpeg-python==0.2.0
keyboard==0.13.5
numpy>=1.23.0,<=2.1.1

# Dependências para Device ID e QR Code
qrcode[pil]==7.4.2
Pillow>=9.0.0

# Dependências para ONVIF
onvif-zeep>=0.2.12

# Dependências para Supabase
supabase>=2.0.0
python-dotenv>=1.0.0